{% csrf_token %}
<label for="text">Комментарий</label>
<textarea class="form-control" aria-describedby="title" cols="20" rows="8" id="text"
          name="review_text">{{ form.review_text.value|default:''  }}</textarea>
<label for="grade">Оценка</label>
<input class="form-control" type="number" name="grade" id="grade" value="{{ form.grade.value }}">
<input type="submit" class="form-control" value="{{ button_text }}">
