{% block content%}
<div class="review-list">
    {% for review in reviews %}
    <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><b>Автор:</b> <a style="text-decoration: none; color: black" href="{% url 'profile' review.author.pk %}">{{ review.author }}</a>
      </h5>
      <h6 class="card-subtitle mb-2 text-muted"><b>Почта автора:</b> {{ review.author.email }}</h6>
        <h6 class="card-subtitle mb-2 text-muted"><b>Оценка:</b> {{ review.grade }}</h6>
      <p class="card-text">{{ review.review_text }}</p>
        {% if request.user == review.author%}
            <a href="{% url 'delete_review' review.pk %}" class="btn btn-danger">Удалить</a>
            <a href="{% url 'update_review' review.pk %}" class="btn btn-success">Редактировать</a>
        {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}