<div class="change-profile row">
    <div class="change-image-profile">
        {% if profile_form.image.value %}
            <img style="width:100%" src="{{ profile_form.image.value.url }}">
        {% endif %}
        <div class="form-group">
            <label for="image"><b>Аватар:</b></label>
            <input class="form-control" type="file" name="image" id="image" value="{{ profile_form.image.value|default:'' }}">
        </div>
    </div>
    <div class="change-info-profile">
        {% include 'partial/user_form.html' %}
        <div class="form-group-1">
            <label for="about_user"><b>О себе:</b></label>
            <textarea class="form-control" name="about_user" id="about_user" cols="30" rows="10">{{ profile_form.about_user.value|default:'' }}</textarea>
        </div>
        <input type="submit" class="btn btn-success" value="Изменить">
    </div>
</div>


