{% extends 'base.html' %}

{% block content%}
    <h2 style="margin-top: 20px;">Изменение информации профиля: {{ user_obj.get_full_name|default:user.username }}</h2>
    <form action="{% url 'update_profile' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'partial/profile_form.html' %}
    </form>
    <a href="{% url 'profile' request.user.pk %}" class="btn btn-primary">Назад</a>
{% endblock %}