@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    background: url(../img/image.jpg) no-repeat center center fixed;
    background-size: cover;
}
.container{
    min-width: 190px;
    max-width: 600px;
    margin: 0 auto;
}
.authorization_card{
    margin: 95px 0;
    font-family: 'Roboto', sans-serif;
    background-color: #55847d;
    box-shadow: 0px 0px 10px #55847d;
}
.form-for-regist{
    padding: 40px;
    width: 100%;
}
.header-button{
    box-sizing: border-box;
    padding: 0 12px;
}
.button{
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    height: 50px;
    margin-bottom: 40px;
}
.button>a{
    margin-top:10px;
    border: none;
    color: white;
    font-size: 22px;
    width: 100%;
    padding: 10px 0;
    text-decoration: none;
}
.btn-1{
    background: #cf2355;
}
.btn-2{
    background: #7c9f9f;
}
.form-for-regist>p{
    margin-top: 0;
    margin-bottom: 40px;
    color: white;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    word-break: break-word;
}
.form-for-regist>input, .form-for-regist>textarea, .initials>input{
    background: none;
    border: 1px solid white;
    font-size: 20px;
    padding: 0.22em 0.45em;
    margin-bottom: 40px;
    width: 100%;
    color: white;
}
.form-for-regist>input::placeholder, .form-for-regist>textarea::placeholder, .initials>input::placeholder{
    color: rgb(201, 190, 190);
}
.form-for-regist>input:focus, .form-for-regist>textarea:focus, .initials>input:focus, .button>input:focus{
    outline-color: white;
    color: white;
}
.form-for-regist>input[type="submit"]{
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background: #cf2355;
    border: none;
    padding: 0.4em 0;
    margin-bottom: 0;
}
.form-for-regist>.wrong-log-or-pass{
    font-size: 20px;
    margin-bottom: 10px;
}