{% csrf_token %}
<label for="title">Продукт/Услуга</label>
<input class="form-control" type="text" id="title" name="name" value="{{ form.name.value|default:'' }}">
<label for="description">Описание проекта</label>
<textarea class="form-control" name="description" id="description" cols="30" rows="10">{{ form.description.value|default:'' }}</textarea>
<label for="category">Категория</label>
<select class="form-control" name="category" id="category">
    {% for category in categories %}
        {% if category.pk == form.category.value %}
            <option selected value="{{ category.pk }}">{{ category.category }}</option>
        {% else %}
            <option value="{{ category.pk }}">{{ category.category }}</option>
        {% endif %}
    {% endfor %}
</select>
{% if form.product_image.value %}
    <img style="width: 300px; height: 300px;" src="{{ form.product_image.value.url }}">
{% endif %}
<input type="file" name="product_image" value="{{ form.product_image.value }}">
<input type="submit" class="form-control" value="{{ button_text }}">