<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Удаление</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Действительно ли вы хотите удалить "{{ deleted_object.name }}".</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form action="{% url 'delete_product' deleted_object.pk %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Удалить</button>
          </form>
      </div>
    </div>
  </div>
</div>