{% extends 'base.html' %}

{% block content%}
  <div class="product-list">
    {% for product in products %}
      <div class="card" style="width: 18rem;">
        {% if product.product_image %}
          <img src="{{ product.product_image.url }}" class="card-img-top" alt="...">
        {% else %}
          <img src="static/default_img/default_product.jpg" class="card-img-top" alt="...">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ product.category.category }}</h6>
          <h6 class="card-subtitle mb-2 text-muted"><b>Средняя оценка</b> {{ product.get_average_grade|floatformat:"-2" }}</h6>
          <a href="{% url 'product_detail' product.pk %}" class="btn btn-primary">Подробнее</a>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="paginate-block">
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
  </div>
{% endblock %}