{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
 product.pk
{% block content %}
<div class="card">
  <h5 class="card-header">Продукт: <span> {{ product.name }} </span></h5>
    <h6 class="card-header mb-2 text-muted">{{ product.category.category }}</h6>
  <div class="card-body">
    <p class="card-text"><b>Детальное описание:</b><br>{{ product.description }}</p>
        {% if product.product_image %}
          <img src="{{ product.product_image.url }}" class="card-img-bottom" alt="...">
        {% else %}
          <img src="{% static 'default_img/default_product.jpg' %}" class="card-img-bottom" alt="...">
        {% endif %}
      <div>
          <a href="{% url 'products_list' %}" class="btn btn-primary">Продукты</a>
          <a href="{% anchor 'create_review' 'comment_create' product.pk %}" class="btn btn-warning">Оставить комментарий</a>
          {% if perms.reviewer.change_product %}
                    <a class="btn btn-success" href="{% url 'product_update' product.pk %}">Изменить</a>
          {% endif %}
          {% if perms.reviewer.delete_product %}
                      <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-danger" >Удалить</a>
          {% endif %}
      </div>
  </div>
</div>
{% if request.user.is_authenticated %}
  <div id="comment_create" class="card">
      <form action="{% url 'create_review' product.pk %}" method="POST">
          {% include 'partial/review/review_form.html' with button_text='Оставить отзыв' %}
      </form>
  </div>
{% endif %}
{% if product.reviews %}
  {% include "partial/review/review_list_form.html" with reviews=product.reviews.all %}
{% endif %}
{% include 'common/delete_product_view.html' with deleted_object=product %}
{% endblock %}