.navbar>.container-fluid{
    justify-content: space-around;
}
.navbar-collapse{
    flex-grow: 0;
}
.product-list{
    display: flex;
    flex-wrap: wrap;
}
.card{
    margin: 10px;
}
.card>img{
    width: 286px;
    height: 200px;
}
.paginate-block{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.card-img-bottom{
    width: 400px;
    height: 300px;
}
.review-list{
    display: flex;
    flex-wrap: wrap;
}
.review-list>.card{
    margin: 10px;
}
.change-profile{
    margin-top: 30px;
    display: flex;
}
.change-image-profile{
    width: 50%;
}
.change-info-profile{
    width: 50%;
}
.form-group{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.form-group>label{
    margin-right: 10px;
}
.change-info-profile>.form-group-1{
    margin-top: 15px;
}